<html>
    <head>
        <title>Felieuncje</title>
    </head>

    <body>
        <div>
          <h1><a href="">Felieuncje</a></h1>
        </div>

        <div>
            <p>published: 19.06.2016, 14:43</p>
            <h2><a href="">My first post</a></h2>
            <p>skjhkhfushgueiugrelgwueighwieulhgrwuheiwuhglrwieuhgieurlhgiuelhgw</p>
        </div>

        <div>
            <p>published: 19.06.2016, 15:43</p>
            <h2><a href="">My second post</a></h2>
            <p>skjhkhfushgueiugrelgwueighwieulhgrwuheiwuhglrwieuhgieurlhgiuelhgw</p>
        </div>
      </body>
</html>
